body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  pointer-events: none;
}

/* header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  padding: 20px 0;
} */

article.location {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  height: 100vh;
  scroll-snap-align: start;
  display: none; /* Initially hidden */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  pointer-events: all;
}

#toggleMode:checked ~ main article.location {
  display: flex; /* Display when checkbox is checked */
}

.location:hover, .location:focus, .location:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgb(105, 77, 0);
  border: 2px solid;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: rgb(28, 30, 15);
}

.location-top {
  position: absolute;
  top: 0%;
  width: 66%;
  text-align: center;
  /* padding: 2px; */
}

.location p, .location h2 {
  font-size: 3rem; /* Increased text size */
  font-weight: 500;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(56, 98, 3, 0.2);
  color: #fff;
  border: 3px solid rgba(32, 87, 52, 0.5);
}

.location h2 {
  font-size: 5rem; /* Increased title size */
  font-weight: 700;
  color: #E0E0E0;
  padding: 0 10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: aquamarine;
}

.location-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  position: absolute;
  left: 5%;
  top: 20%;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  position: absolute;
  right: 5%;
  top: 20%;
}

.icon {
  display: inline-block;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
}

.icon i {
  font-size: 4rem;
  color: #606060;
}

.icon a {
  text-decoration: none;
}

.icon a i {
  color: #606060;
}

.icon a:hover i {
  color: #404040;
}

.location-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(249, 249, 249, 0.3); /* More transparent background */
  padding: 2rem; /* Increased content padding */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  z-index: 3;
  font-size: 3rem; /* Increased content text size */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s ease-in-out, transform 3.5s ease-in-out; /* Smooth transition */
}

.data-content {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition */

}

.location-content.active {
  display: block;
  opacity: 1; /* Fully visible */
  transform: translate(-50%, calc(-50% - 20px)); /* Slightly higher */
  transition: opacity 0.5s ease-in-out, transform 3.5s ease-in-out; /* Smooth transition */

}
